* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
    color: #3F3F42;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin:50px 0;
    color:#1F2937;
    color:#1A60EF;
    
    font-size:50px;
    text-shadow: 4px 4px #ccc;    
}
 
.game-container {
   display:flex;
   flex-direction: column;
  align-items: center;
}

.board {
       display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
    column-gap: 5px;
    row-gap: 5px;
    padding:10px;
    background-color: #ccc;  
    border-radius:1px;
  }

.newDiv {   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    background-color: grey;
    background-color: #1f2937;
    cursor: pointer;
    color:#3882f6;
    font-size:30px;
    border-radius:2px;
}

.game-container button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin-top:20px;
    text-decoration: none;
    background: #0069ed;
    background:#1A60EF;
    border-radius:2px;
    color: #ffffff;
  
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}