* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
    color: #3F3F42;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin:50px 0;
}
 
.game-container {
    background-color: #ccc;
  
}

.board {
   display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
    column-gap: 5px;
    row-gap: 5px;
    padding:10px;
  }

.newDiv {   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    background-color: grey;
    background-color: #1f2937;
    cursor: pointer;
    color:#3882f6;
    font-size:30px;
}