* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
    color: #3F3F42;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin:50px 0;
}
 
.game-container {
    background-color: #ccc;
    min-height: 200px;
    min-width: 200px;
}

.board {
   display: grid;

    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px; 
    column-gap: 10px;
    row-gap: 10px;
  }

.newDiv {   
    width:50px;
    height:50px;
    background-color: grey;
}

#box1 {
    background-color: green;
}